.fylo--features2 {
  @include padding-inline;
}

.fylo--features2--wrapper:nth-of-type(2) {
  text-align: left
}

.fylo--features2__heading {
  @include heading-fong;
  font-size: 30px;
}

.fylo--features2__link--wrapper {
  border-bottom: 1px $cyan solid;
  max-width: max-content;
}

.fylo--features2__link--wrapper {
  padding-block-end: 0.5rem;
}

.fylo--features2__link {
  @include heading-fong;
  color: $cyan;
}

.fylo--features2--arrow {
  border-radius: 50%;
  background: $cyan;
  font-size: 11px;
  padding: 4px;
  color: black;
  font-weight: bolder;
  margin-inline-start: 9px;
}

@media(min-width: 1000px) {

  .fylo--features2 {
    margin-bottom: 150px;
  }

  .fylo--features2--container {
    @include desk-break-point;
    @include flex-row;
    justify-content: unset;
    gap: 50px;
    text-align: left;
  }

  .fylo--features2__heading {
    font-size: 40px;
  }

  .fylo--features2--wrapper:nth-of-type(1) {
    flex-basis: 60%;
  }

  .fylo--features2--wrapper:nth-of-type(2) {
    flex-basis: 40%;
  }

  .fylo--features2__img {
    width: 100%;
  }
}
